extends layout



block content
    script(src="/javascripts/InputValidator.js")
    script(src="/javascripts/httpRequest.js")
    script(src="/javascripts/camera_permission.js")

    div#contents.center
        img.top-bottom-margin(src="/images/image_add_top_title.png")
        div(style="width:660px; margin : 0 auto;")
            form#data-form(action="/upload" enctype="multipart/form-data" method="post")
                div.data-div.margin-auto
                    span
                        img.left-right-margin(src="/images/image_add_input_title01.png" style="margin-top : 6px")
                    span.table-cell
                        input#employee-number.left-right-margin(type="text" name="employee-number" maxlength=7)
                    span
                        img.left-right-margin(src="/images/image_add_input_title02.png" style="margin-top : 6px")
                    span.table-cell
                        input#user-name.left-right-margin(type="text" name="user-name")


        div#video-div.top-bottom-margin.effect
            video#video(width="720" height="480" autoplay=)
        button#capture.center.top-bottom-margin

        p 얼굴이 잘보이도록 사진을 20장 찍어주시기 바랍니다.

        canvas#image-canvas(style="display:none;" width="640" height="480")

        div#img-div(style="width:1200px")
            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")

            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")
            span.capture-effect
                img(src="/images/blank_img.png")




